/* font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.dark-lay{
    filter: brightness(50%);
}
.text-size{
    height: fit-content;
}
.main-margin{
    margin-top: 100px;
}
.card-margin{
    margin-top: 50px;
}
.e-learn{
    margin-top: 150px;
}
.join-part{
    margin-top: 100px;
    margin-bottom: 100px;
}
.btn-margin{
    margin-top: 30px;
}
@media screen and (max-width:576px) {
    .dark-lay{
        height: 500px;
        object-fit: cover;
    }    
}